html {
    background-image: url('../img/bg.jpg');
}

.main {
    background-color: rgba(0, 0, 0, 0);
}

.card:hover {
    background-color: #47597E;
    color: white;
}


.glass {
    background-color: #ffffff;
    padding: 3%;
    margin-top: -300px;
    z-index: 100;
    border-radius: 50px;
    border: 10px double #00adb5;
}