html {
    background-image: url('../img/bg.jpg');
}

.main {
    background-color: rgba(0, 0, 0, 0);
}

.card:hover {
    background-color: #47597E;
    color: white;
}

.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: blue;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}

.glass {
    background-color: #ffffff;
    border-radius: 20px;
    border: 10px double #00adb5;
}